body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Ubuntu', sans-serif;  
}

p {
  margin-bottom: 0;
}

ul {
  padding: 0;
  margin-bottom: 0;
}


/* Top header section */
.top-header {
  background-color: #112031;
  padding: 5px;
  color: #ffff  ;
}

.personal-details {}

.personal-details-link {
  display: inline-block;
  padding-right: 10px;
  text-decoration-line: none;
  color: #fff;
  font-size: 14px;
}

/* Social Icons */
.social-icons {
  text-align: right;
}

.personal-details-link:hover {
  color: #ebb433;
}

.personal-icons {
  color: #FFB200;
  margin-right: 8px;
  font-size: 14px;
}

.personal-icons {
  margin: 0 8px 0 8px;
}

.personal-icons-list {
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 5px 0 5px;
  color: #FFB200;
}
.personal-icons-list:hover {
  color: #fff;
}

/* Header Section */
#header {
  background-color: #FFB200;
  font-family: 'Ubuntu', sans-serif;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-light .navbar-brand {
  color: #112031;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

#logo {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  letter-spacing: 1.5px;
  line-height: 1.2;
  margin-right: 15px;
  margin-left: 15px;
  display: block;
}

.logo-icons {
  font-size: 50px;
}

.likes-icons {
  font-size: 20px;
}

.logo-icons, 
.likes-icons {
  padding-right: 8px;
}

#navbarSupportedContent {
  margin-top: 0;                
  margin-bottom: 0;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
  color: #112031;
}

#navigation-link {
  letter-spacing: 1.5px;
  padding: 25px 20px 25px 20px;
  font-weight: bold;
}

/* Craousel */
.carousel-indicators [data-bs-target] {
  background-color: #ffff;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-right: 8px;
  margin-left: 8px;
}

.banner-content {
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  top: 30%;
  font-size: 3.5rem;
}

.banner-heading {
  text-transform: uppercase;
  font-size: 3.6rem;
  font-weight: bold;
}

.carousel-icons {
  font-size: 3rem;
  color: #FFB200;
}

.carousel-icons:hover {
  color: #ebb433;
}

.banner-img {
  height: 480px;
}
/* Registration Form */
#gallary {
  background-color: #ececec;
}

.register-in-out {
  background-color: #f4f4f4;
  /* padding: 15px; */
}

.register-btn {
  display: block;
  text-align: center;
}

.register-btn-list {
  background-color: #FFB200;
  list-style: none;
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0px 20px 0px 20px;
}

.list-item {
  padding: 20px;
}

.check-now {
  background-color: #FFB200;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.form-btn {
  background-color: #112031;
  padding: 10px 20px 10px 20px;
  border-radius: 6px;
  text-transform: uppercase;
  color: #FFB200;
  border: none;
}

.form-btn:hover {
  color: #fff;
}

/* register-check-out-form */
.inner-check-in-out-form {
  margin: 0 20px 20px 20px;
  padding: 20px 20px 20px 20px;
  background: #fff;
  /* border-radius: 10px; */
}

.nav-pills .nav-link {
  color: #112031;
  font-weight: bold;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #112031;
}

.nav-link.nav-link-button {
  padding: 0.5rem 3.5rem;
}

#pills-tab {
  display: flex;
  justify-content: space-evenly;
  background-color: #ebb433;
}
.dates {
  display: flex;
  justify-content: space-between;
}

/* Places */
.place {
  background-color: #FFB200;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 25px;
}

.place-link {
  display: flex;
  justify-content: space-between;
  text-decoration-line: none;
  color: #112031;
}

.place-link:hover {
  color: #fff;
}

/* way-to-india */
.way-to-india {
  position: relative;
}

/* .populer-packages {
  background-color: #ececec;
} */

.card.place-img {
  margin-top: 30px;
}

.sub-heading {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.sub-heading-design {
  position: absolute;
  top: 12%;
  left: 20%;
  width: 100px;
  height: 2px;
  background-color: #112031;
}

.sub-heading-design-right {
  position: absolute;
  top: 12%;
  right: 20%;
  width: 100px;
  height: 2px;
  background-color: #112031;
}

/* package-img */
.inner-package, .package-img {
  width: 100%;
  height: 100%;
}

.card-text.explor-date {
  color: #112031;
  border-bottom: 1px solid;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.explor-date-text {
  color: #fff;
  font-size: 1rem;
}

/* Sub Footer */
.sub-footer {
  background-color: #112031;
  text-align: center;
}

.sub-footer-line {
  color: #ffff;
}

.sub-footer-link {
  color: #FFB200;
  font-weight: bold;
  text-decoration-line: none;
}

.heading-border {
  position: relative;
}

.border-img {
  position: absolute;
  top: -40px;
  left: 36%;
  height: 39px;
}

.form-control:focus {
  box-shadow: none;
}