body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Ubuntu', sans-serif;  
}

p {
  margin-bottom: 0;
}

ul {
  padding: 0;
  margin-bottom: 0;
}



/* Header Section */
#header {
  background-color: #FFB200;
  font-family: 'Ubuntu', sans-serif;
}

#logo {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  letter-spacing: 1.5px;
  line-height: 1.5;
  margin-right: 15px;
  margin-left: 15px;
}

.logo-icons {
  padding-right: 8px;
  line-height: 1.5;
  font-size: 20px;
}

#navigation-link {
  letter-spacing: 1.5px;
  padding: 20px;
  font-weight: bold;
}

/* Craousel */
.carousel-indicators [data-bs-target] {
  background-color: #ffff;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-right: 8px;
  margin-left: 8px;
}

.banner-content {
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  top: 30%;
  font-size: 3.5rem;
}

.banner-heading {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 4.5rem;
  font-weight: bold;
}

/* Registration Form */
/* #gallary {
  position: relative;
}

#innerGallery{
  position: absolute;
  top: -12%;
} */

.register-in-out {
  background-color: #f4f4f4;
  padding: 15px;
}

.register-btn {
  display: block;
  text-align: center;
}

.register-btn-list {
  background-color: #FFB200;
  list-style: none;
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  font-weight: bold;
}

.list-item {
  padding: 20px;
}

.check-now-btn {
  background-color: #FFB200;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

/* Places */
.place {
  background-color: #FFB200;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 25px;
}

.place-image {
  height: 320px;
}

.place-link {
  display: flex;
  justify-content: space-between;
  text-decoration-line: none;
  color: #000;
}

/* way-to-india */
.way-to-india {
  position: relative;
}

.sub-heading {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.sub-heading-design {
  position: absolute;
  top: 12%;
  left: 20%;
  width: 100px;
  height: 2px;
  background-color: black;
}

.sub-heading-design-right {
  position: absolute;
  top: 12%;
  right: 20%;
  width: 100px;
  height: 2px;
  background-color: black;
}

